#creaCorsoBody{
    background: url("../img/63-637398_animated-powerpoint-templates-ppt-jpeg-chainimage-powerpoint-backgrounds.jpg");
    background-size: cover;
}
option{
    width: 200px;
}
main{
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 10%;
}

footer{
    background-color: #dfeefc;
    padding: 5%;
}